h1 {
    color: red; /* Задаємо червоний колір тексту */
    text-decoration: underline; /* Додаємо підкреслення */
    font-size: 36px; /* Задаємо розмір шрифту у пікселях */
    vertical-align: text-bottom; /* Вирівнюємо текст вниз головою */
  }
  